<style>
    button, select {
        background-color: grey;
        border-color: black;
        border-style: solid;
        border-width: 2;
        color: black;
        font-family: "arial";
        font-weight: bold;
        font-size: 13.5px;
    }
</style>
<canvas id="bg" width="1904" height="840"></canvas>
<button id="decgButton"      onmouseout="blur()" style="width:30px; position:absolute; top:calc(88px +      31px); left:1818" onclick="decGrid()">-</button>
<button id="incgButton"      onmouseout="blur()" style="width:30px; position:absolute; top:calc(88px +      31px); left:1848" onclick="incGrid()">+</button>
<button id="glButton"        onmouseout="blur()" style="width:50px; position:absolute; top:calc(88px +  3 * 31px); left:1828" onclick="toggleGL()">NO</button>
<button id="wrapButton"      onmouseout="blur()" style="width:50px; position:absolute; top:calc(88px +  4 * 31px); left:1828" onclick="toggleWrap()">YES</button>
<button id="otherEat"        onmouseout="blur()" style="width:50px; position:absolute; top:calc(88px +  5 * 31px); left:1828" onclick="toggleOtherEat()">NO</button>
<button id="selfEat"         onmouseout="blur()" style="width:50px; position:absolute; top:calc(88px +  6 * 31px); left:1828" onclick="toggleSelfEat()">NO</button>
<button id="saveTail"        onmouseout="blur()" style="width:50px; position:absolute; top:calc(88px +  7 * 31px); left:1828" onclick="toggleTailSaving()">NO</button>
<button id="appleOne"        onmouseout="blur()" style="width:50px; position:absolute; top:calc(88px +  8 * 31px); left:1828" onclick="toggleAppleOne()">NO</button>
<!-- <button id="aiIgnorePlayers" onmouseout="blur()" style="width:50px; position:absolute; top:calc(88px + 12 * 31px); left:1828" onclick="toggleAiIgnore()">NO</button>
<button id="aiCheckTree"     onmouseout="blur()" style="width:50px; position:absolute; top:calc(88px + 13 * 31px); left:1828" onclick="toggleAiTreeCheck()">NO</button>
<button id="aiShowTree"      onmouseout="blur()" style="width:50px; position:absolute; top:calc(88px + 14 * 31px); left:1828" onclick="toggleAiShowTree()">NO</button> 
-->

<select onchange="setPlayerCount()" id="pCount" style="position:absolute; top:88px; left:1769">
    <option value="1">1 PLAYER</option>
    <option value="2">2 PLAYERS</option>
    <option value="3">3 PLAYERS</option>
    <option value="4">4 PLAYERS</option>
    <option value="5">5 PLAYERS</option>
</select>
<select onchange="setBgColor()" id="bgColor" style="position:absolute; top:calc(88px + 2 * 31px); left:1800">
    <option>BLACK</option>
    <option>WHITE</option>
</select>
<select onchange="setTimer()" id="timer" style="position:absolute; top:calc(88px + 9 * 31px); left:1756">
    <option value="0">NO TIMER</option>
    <option value="0.2">12 SECONDS</option>
    <option value="0.4">24 SECONDS</option>
    <option value="0.5">30 SECONDS</option>
    <option value="1">1 MINUTE</option>
    <option value="2">2 MINUTES</option>
    <option value="3">3 MINUTES</option>
    <option value="4">4 MINUTES</option>
    <option value="5">5 MINUTES</option>
    <option value="6">6 MINUTES</option>
    <option value="7">7 MINUTES</option>
    <option value="8">8 MINUTES</option>
    <option value="9">9 MINUTES</option>
</select>

<!--Players' settings-->
<select onchange="setPlayerSettings(1)" id="AiH1" style="position:absolute; top:615; left:1539">
    <option>AI</option>
    <option>HUMAN</option>
</select>
<select onchange="setPlayerSettings(1)" id="Col1" style="position:absolute; top:615; left:1622"></select>
<button onclick="initControlBinding(1, 'cUp')"    id="cUp1"   style="width:40.5px;position:absolute;top:615;left:1715.5">UP</button>
<button onclick="initControlBinding(1, 'cLeft')"  id="cLeft1"  style="width:40px; position:absolute; top:615; left:1756">LT</button>
<button onclick="initControlBinding(1, 'cDown')"  id="cDown1"  style="width:40px; position:absolute; top:615; left:1796">DN</button>
<button onclick="initControlBinding(1, 'cRight')" id="cRight1" style="width:42px; position:absolute; top:615; left:1836">RT</button>

<!--Scripts-->
<script src="game.js"></script>
<script src="player.js"></script>
<script src="draw.js"></script>
<script src="settings.js"></script>
<script src="ai.js"></script>

